@import 'tailwindcss';

@theme {
  --font-sans: var(--font-epilogue);
  --font-mono: var(--font-ibm);

  --color-darkPurple-400: #52498c;
  --color-darkPurple-500: #302a59;
  --color-darkPurple-900: #120f26;
  --color-neonGreen-400: #57f2aa;
  --color-fontColor-50: #f2f2f2;
  --color-fontColor-900: #333333;
}

:root {
  --background: #f2f2f2;
  --foreground: #120f26;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #120f26;
    --foreground: #f2f2f2;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  scroll-behavior: smooth;
}
